html {
    font-family: sans-serif;
}

.img { 
    background-image:url(Imagens/Star-Wars.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.link_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.div_filho {
    font-family: 'Star Wars', sans-serif;
    font-size: 2em;
    background-color: #000000;
    opacity: 0.8;
    letter-spacing: .2em;    
    text-transform: initial;
    border-radius: 5px;
    
}

.div_filho a {
    color: white;
    text-decoration: none;
    padding: 1.5em;        
}

.div_filho:hover {
    background-color: color-mix(in srgb, gray 30%, black 70%);    
}

.header { 
    text-align: center;
    margin: auto;
    background-color: #000000;
}

.header_logo {
    width: 5em;
    height: auto;
}

.header_nav {
    background-color: black;
    display: none;
}

.header_nav.show {
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, rgb(134, 127, 127), gray 50%);
    color: rgb(236, 217, 217);
}

#hamburguer {
    background-color: rgb(61, 58, 55);
    color: rgb(236, 222, 222);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}


footer {
    text-align: center;
    background-color: gray;
    padding: 1em;
}

.texto {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0;
    padding-top: .8rem;
    color: rgb(232, 222, 209);
}

.div_pai {
    display: flex; 
    flex-direction: column;
    gap: 1em;
}

.imagem {
    width: 2.5em;
}


@media screen and (min-width: 48em) {
    /* maior que 768px */
    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
    }

    .header_logo {
        margin-left: 2em;
    }

    .header_nav {
        display: block;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }
    
    .header_nav a {
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: gray;
        color: beige;
    }   

    .div_pai {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }
}

